@import url('https://fonts.googleapis.com/css2? family= Kanit:ital,wght@1,500 & family= Radio+Canada:ital,wght@1,500 & display=swap');



h1 {
    font-size: 30px;
    margin-left: 50px;
}

.logo {
    margin-left: 50px;
    height: 50px;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items:center;
    background-color: white;
    
}


.botones {
    color: black;
    background-color: white;
    border:none;
    text-decoration: none;
}


.carrito {
    text-decoration: none;
    height: 30px;
    border-radius: 5px;
    background-color:transparent;
    
}



ul{
    display:flex;
    align-items: flex-end;
}

li{
    display: flex;
    align-items: flex-end;
    margin: 30px;
}

.card {
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    padding-top: 50px;
    margin: 100px;

    
    
}

.container-products {
    display: flex;
    flex-direction:row;
    align-items: baseline;
    margin-left: 50px;
    padding-top: 50px;
}

.item-product {
    border: 10px;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    position: relative;
}

.img-prod {
    height: 200px;
    margin: 20px;
}