@import url('https://fonts.googleapis.com/css2? family= Kanit:ital,wght@1,500 & family= Radio+Canada:ital,wght@1,500 & display=swap');

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: beige;
}

h1 {
    font-size: 30px;
    margin-left: 50px;
}

img {
    height: 50px;
}

ul{
    display:flex;
    align-items: flex-end;
}

li{
    display: flex;
    align-items: flex-end;
    margin: 30px;
}